.git
.github
.nuxt
.output
node_modules
**/node_modules
front-end/.nuxt
front-end/.output
front-end/dist
front-end/cypress/downloads
front-end/cypress/screenshots
front-end/cypress/videos
back-end
dist
.env
.env.*
!.env.example
*.log
